<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-security-core-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/jstl-1.1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-aop-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-jdbc-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/standard-1.1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-security-taglibs-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-security-acl-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-beans-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-core-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-context-support-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-expression-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-context-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-security-config-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/ehcache-1.6.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-asm-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-webmvc-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-tx-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/aspectjrt-1.6.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-security-web-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/aspectjweaver-1.6.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/spring-web-3.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/hsqldb-1.8.0.10.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/hessian-3.0.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/class/commons-fileupload-1.2.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security/src/spring-secuity-core-src.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/src/spring-security-web-src.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security/src/commons-fileupload-1.2.2-src.jar!/" />
    </SOURCES>
  </library>
</component>